.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
.container h1{
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #f46036;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.form-wrapper, .transaction-list{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 30rem;
  margin: auto;
}

.form-group input, 
.form-group select{
  width: 100%;
  height: 2.2rem;
  font-size:1.4rem;
  border: none;
  background: transparent;
  border-bottom: 1px solid #ddd;
  outline: none;
  padding: 0 10px;
  margin-bottom: 1rem;
  color: #fff;
  transition: border-bottom 0.4s;
  appearance: none;
  font-family: initial;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select > option {
  background:rgb(56, 52, 52);
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #77c987;
}

button[type="submit"]{
  width: 8rem;
  padding: .5rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #3e3434;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
}

.balance-box{
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 30rem;
  margin: 1rem auto;
  border:  1px solid #eee;
  padding: 0.5rem 0;
}

.balance-box h3, .balance-box p{
  margin: 0;
}

.transaction-list .list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.transaction-list .list .remove-btn {
  position: absolute;
  top: 0.6rem;
  right: 0;
  color: #000;
  cursor: pointer;
}

.list-item{
  display: flex;
  justify-content:space-between;
  position: relative;
  color: #000;
  background: white;
  border-radius: .2rem;
  text-align: initial;
  padding: 4px 10px;
  /* width: 100%; */
  margin: 4px 0;
}
.list-item span:first-child{
  width:50%;
}

.list-item img{
  position: absolute;
  top: 50%;
  right: -15px;
  transform: translate(50%, -50%);
  cursor: pointer;
}

.list-item:hover{
  background: rgb(73, 184, 73);
}

.button {
  position: relative;
  margin-top: 1em;
  padding: 1em;
  border: 2px solid #FFF;
  overflow: hidden;
  outline: none;
  color: #FFF;
  background: transparent;
  cursor: pointer;
}

.button span {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.button:before,
.button:after {
  content: '';
  position: absolute;
  top: 0.8rem;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transition: .4s,opacity .6s;
  -moz-transition: .4s,opacity .6s;
  -o-transition: .4s,opacity .6s;
  transition: .4s,opacity .6s;
}

/* :before */

.button:before {
  content: attr(data-hover);
  -webkit-transform: translate(-150%,0);
  -moz-transform: translate(-150%,0);
  -ms-transform: translate(-150%,0);
  -o-transform: translate(-150%,0);
  transform: translate(-150%,0);
}

/* :after */

.button:after {
  content: attr(data-active);
  -webkit-transform: translate(150%,0);
  -moz-transform: translate(150%,0);
  -ms-transform: translate(150%,0);
  -o-transform: translate(150%,0);
  transform: translate(150%,0);
}

/* Span on :hover and :active */

.button:hover span,
.button:active span {
  opacity: 0;
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  -ms-transform: scale(0.3);
  -o-transform: scale(0.3);
  transform: scale(0.3);
}

/*  
  We show :before pseudo-element on :hover 
  and :after pseudo-element on :active 
*/

.button:hover:before,
.button:active:after {
  opacity: 1;
  -webkit-transform: translate(0,0);
  -moz-transform: translate(0,0);
  -ms-transform: translate(0,0);
  -o-transform: translate(0,0);
  transform: translate(0,0);
  -webkit-transition-delay: .4s;
  -moz-transition-delay: .4s;
  -o-transition-delay: .4s;
  transition-delay: .4s;
}

/* 
We hide :before pseudo-element on :active
*/

.button:active:before {
  -webkit-transform: translate(-150%,0);
  -moz-transform: translate(-150%,0);
  -ms-transform: translate(-150%,0);
  -o-transform: translate(-150%,0);
  transform: translate(-150%,0);
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

@media (max-width: 575px) {  
  body, html { 
    font-size: 90%;
  }
  .form-wrapper, .balance-box, .transaction-list{
    width: 26rem;
  }
}

@media (max-width: 470px) {
  body, html { 
    font-size: 85%;
  }
  .form-wrapper, .balance-box, .transaction-list{
    width: 23rem;
  }
}